header#header-main.nav__main
	.menu-hamburger
		a(href="#")#menu_on
			span
			span
			span
	.header__brand
		a.brand(href="index.html")
			img.brand-img(src="img/brand.png")
	.header__menu
		.menu-nav#menu
			ul.nav-options
				li: a.shop(href="index.html") Inicio
				li: a.collection(href="shop.html") Tienda
				li: a.about(href="about.html") Nosotros
				li: a.contact(href="contact.html") Contacto
	.header__user
		ul
			li: a(href="user.html").icon-user
			li: a(href="cart.html").icon-shopping-cart#icon-shopping-cart(data-count="0")