input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    outline: 0;
    color: $secondary;
    font-size: .875rem;
    border: 1px solid $primary;
    box-sizing: border-box;
}

input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
    line-height: 2.2em;
    cursor: pointer;
    color: $primary;
    font-size: 18px;
    font-weight: 600;
    transition: 1s;
}

input[type="radio"] + label:before {
    content: "";
    width: 16px;
    height: 16px;
    float: left;
    margin: 0.5em 0.5em 0 0;
    border: 1px solid $primary;
    background: #fff;
    border-radius: 100%;
    color: $primary;
    transition: 1s;
}

input[type="radio"]:checked + label:after {
	content: "";
	width: 0;
	height: 0;
	border: 4px solid $black;
	float: left;
	margin-left: -22px;
    margin-top: 14px;
    border-radius: 100%;
    
}

input[type="radio"]:checked + label:before {
    border-color: $black;
    
}

input[type="radio"]:checked + label {
    color: $black;
}

.form {
    margin-top: 20px;

    &__user, &__user__contact {
        display: flex;
    }

    &__user-mail {
        margin-left: 10px;
    }

    &__user-pass, &__user-mail-adress, &__message, &__btn-send, &__address, &__user__contact, &__address-street, &__address-postcode, &__address-city, 
    &__address-province {
        margin-top: 30px;
    }
  
    &__remember-me,  &__privacity{
      margin-top: 10px;
      font-size: 14px;
    }

    span {
        color: $button;
        font-size: 20px;
    }
  
    button{
        width: 100%;
        @extend %button_main;
    }

    p {
        font-size: 14px;
    }

    a {
        color: $button;
    }

    @include media(mobile-only){
        &__user, &__user__contact {
            display: block;
        }
        &__user-mail {
            margin-left: 0;
        }
    }
    
    @include media(mobile-l){
        &__user, &__user__contact {
            display: block;
        }
        &__user-mail {
            margin-left: 0;
        }
    }
}

