-
	var womanProducts = [
		{link: "product_woman_closk.html", image: "w_il1_blue.png", title: "Closk", price: "18,5 €"}, 
		{link: "product_woman_closk.html", image: "w_il2_blue.png", title: "Calamär", price: "25 €"},
		{link: "product_woman_closk.html", image: "w_il3_blue.png", title: "Meddusa", price: "25 €"},
		{link: "product_woman_closk.html", image: "w_il4_blue.png", title: "Pezz", price: "25 €"},
		{link: "product_woman_closk.html", image: "w_il5_green.png", title: "Familia", price: "25 €"}
	];

-
	var manProducts = [
		{link: "product_man_closk.html", image: "m_il1_white.png", title: "Closk", price: "18,5 €"},
		{link: "product_man_closk.html", image: "m_il2_white.png", title: "Calamär", price: "16 €"},
		{link: "product_man_closk.html", image: "m_il3_white.png", title: "Meddusa", price: "18,5 €"},
		{link: "product_man_closk.html", image: "m_il4_white.png", title: "Pezz", price: "18,5 €"}
	];

-
	var childrenProducts = [
		{link: "product_child_closk.html", image: "c_il1_white.png", title: "Closk", price: "12 €"}, 
		{link: "product_child_closk.html", image: "c_il1_white.png", title: "Calamär", price: "12 €"}
	];

-
	var babyProducts = [
		{link: "product_baby_closk.html", image: "by_il1_grey.png", title: "Closk", price: "12 €"},
		{link: "product_baby_closk.html", image: "by_il4_grey.png", title: "Calämar", price: "12 €"},
		{link: "product_baby_closk.html", image: "by_il5_grey.png", title: "Familia", price: "18,5 €"}
	];

-
	var bagProducts = [
		{link: "#", image: "bag.png", title: "Familia", price: "8 €"}
	];