extends template.pug
block content
    main
        h1 Sobre nosotros
        .about-us
            .about-us__img
                img(src="img/about-img.png")
            .about-us__description
                h2 Los diseños de Mònica
                p
                    |Lorem ipsum dolor sit amet consectetur adipiscing elit proin praesent 
                    |condimentum phasellus cursus non curae, volutpat venenatis sociosqu 
                    |congue porta integer nostra suscipit class litora eu metus montes. 
                    |Mus posuere quisque primis non suspendisse porta tortor, est lectus et 
                    |sociis justo libero, integer nullam nunc mi dis aliquet. Nibh etiam 
                    |sodales lacinia bibendum gravida porta, accumsan per cursus aliquet purus, 
                    |aptent suspendisse porttitor nec maecenas.
        .about-us.organic
            .about-us__description
                h2 Tejidos orgánicos
                p
                    |Lorem ipsum dolor sit amet consectetur adipiscing elit proin praesent 
                    |condimentum phasellus cursus non curae, volutpat venenatis sociosqu 
                    |congue porta integer nostra suscipit class litora eu metus montes. 
                    |Mus posuere quisque primis non suspendisse porta tortor, est lectus et 
                    |sociis justo libero, integer nullam nunc mi dis aliquet. Nibh etiam 
                    |sodales lacinia bibendum gravida porta, accumsan per cursus aliquet purus, 
                    |aptent suspendisse porttitor nec maecenas.
            .about-us__img
                img(src="img/about-img-organic.png")