extends template.pug
block content
	main
		h1 Entregas y devoluciones
		.delivery__content
			h3 Pagos
			p
				| Lorem ipsum dolor sit amet consectetur adipiscing elit, 
				| litora justo mollis lobortis diam cubilia mauris purus, 
				| imperdiet dictum nulla sapien vel dapibus.
		.delivery__content
			h3 Devoluciones
			p
				| Lorem ipsum dolor sit amet consectetur adipiscing elit, 
				| litora justo mollis lobortis diam cubilia mauris purus, 
				| imperdiet dictum nulla sapien vel dapibus.