extends template.pug
block content
	main
		h1 FAQs
		section.faqs__shopping
			.faqs__shopping__title 
				h3 TIENDA
			.faqs__shopping__answers
				.answers__content
					p.quiestions ¿Lorem ipsum dolor sit amet consectetur?
					p.answsers
						| Lorem ipsum dolor sit amet consectetur adipiscing elit, 
						| litora justo mollis lobortis diam cubilia mauris purus, 
						| imperdiet dictum nulla sapien vel dapibus. 
				.answers__content
					p.quiestions ¿Lorem ipsum dolor sit amet consectetur?
					p.answsers
						| Lorem ipsum dolor sit amet consectetur adipiscing elit, 
						| litora justo mollis lobortis diam cubilia mauris purus, 
						| imperdiet dictum nulla sapien vel dapibus. 
				.answers__content
					p.quiestions ¿Lorem ipsum dolor sit amet consectetur?
					p.answsers
						| Lorem ipsum dolor sit amet consectetur adipiscing elit, 
						| litora justo mollis lobortis diam cubilia mauris purus, 
						| imperdiet dictum nulla sapien vel dapibus. 
		section.faqs__shopping
			.faqs__shopping__title 
				h3 PAGOS
			.faqs__shopping__answers
				.answers__content
					p.quiestions ¿Lorem ipsum dolor sit amet consectetur?
					p.answsers
						| Lorem ipsum dolor sit amet consectetur adipiscing elit, 
						| litora justo mollis lobortis diam cubilia mauris purus, 
						| imperdiet dictum nulla sapien vel dapibus.
				.faqs__shopping__answers
				.answers__content
					p.quiestions ¿Lorem ipsum dolor sit amet consectetur?
					p.answsers
						| Lorem ipsum dolor sit amet consectetur adipiscing elit, 
						| litora justo mollis lobortis diam cubilia mauris purus, 
						| imperdiet dictum nulla sapien vel dapibus.
		section.faqs__shopping
			.faqs__shopping__title 
				h3 ENVÍOS
			.faqs__shopping__answers
				.answers__content
					p.quiestions ¿Lorem ipsum dolor sit amet consectetur?
					p.answsers
						| Lorem ipsum dolor sit amet consectetur adipiscing elit, 
						| litora justo mollis lobortis diam cubilia mauris purus, 
						| imperdiet dictum nulla sapien vel dapibus.
                        
