extends template.pug
include libs/mixins.pug
block content
	main
		+crumsListProduct("woman", "Mujer", "ClosK")
		
		section.product__detail
			+productDescription("woman", "w_closk_white.png", "ClosK", "MIL1001", "18,5 €", "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.")

	script(src="js/product_detail.js")
	script(src="js/color_active.js")