doctype html
html(lang="es", dir="ltr")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords", content="HTML, CSS, Animation")
		meta(name="author", content="Mercè Casamitjana")
		link(rel="stylesheet", href="css/style.css")
		title Animals
	body
		include components/header.pug
		include libs/globals.pug
		block content
		include components/footer.pug
		script(src="js/header.js")
		script(src="js/menu.js")